In [11]:
import datetime
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd
from tabulate import tabulate
import os
import time
import importlib

In [5]:
keyspace = "test_key"
cloud_config= {'secure_connect_bundle': 'secure-connect-test.zip'}
auth_provider = PlainTextAuthProvider('biTEHxuyRqFgCcFpnEMOMvkN', 'PyqybfDQpPOaLp44hlWbb1Yb7bZ2Mn5Mt-_DGMOs.qBj.JY.Z,FAnB.9ncCD+F2EsSJ7W6XD,l,3S9gZW7bgWSMQDHKvTI7Iams2.hRRz6W_biRSrttvGgs1WhAl-in9')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect(keyspace)

In [71]:
def create_daily_activity_table():
        create_table_query = """
        CREATE TABLE IF NOT EXISTS survey (
            q_no int,
            date_added date,
            question text,
            options text,
            PRIMARY KEY (q_no)
        );
        """
        session.execute(create_table_query)
create_daily_activity_table()

In [72]:
def get_db(table):
        query = "SELECT * FROM {}.{}".format(keyspace, table)
        data = session.execute(query)
        df = pd.DataFrame([d for d in data])
        return df

In [73]:
def show(table_name):
        query = "SELECT * FROM test_key.{};".format(table_name)
        df = pd.DataFrame(list(session.execute(query)))
        print(tabulate(df, headers='keys', tablefmt='fancy_grid'))

In [91]:
def insert_data():
    insert_query = """
    INSERT INTO survey (
        q_no,
        date_added,
        question,
        options
    ) VALUES ({}, '{}', '{}', '{}')""".format(1, datetime.datetime.now().date(), "what is your favourite color", "red, blue, gree, grey")
    session.execute(insert_query)
    show("survey")

In [92]:
insert_data()

╒════╤════════╤══════════════╤═══════════════════════╤══════════════════════════════╕
│    │   q_no │ date_added   │ options               │ question                     │
╞════╪════════╪══════════════╪═══════════════════════╪══════════════════════════════╡
│  0 │      1 │ 2023-03-18   │ red, blue, gree, grey │ what is your favourite color │
╘════╧════════╧══════════════╧═══════════════════════╧══════════════════════════════╛

In [59]:
def delete_table(table_name):
        delete_table_query = "DROP TABLE " + table_name + ";"
        try:
            session.execute(delete_table_query)
            print("Table " + table_name + " deleted successfully")
        except Exception as e:
            print("Error deleting table: ", e)
            
delete_table("user")

Error deleting table:  name 'session' is not defined

In [416]:
crud.delete_table("response")

Error deleting table:  errors={'827f8a5c-c113-4d00-96e3-19591f848b34-asia-south1.db.astra.datastax.com:29042:1e2e8f64-62e8-4a6e-b468-77267e24d06f': 'Client request timeout. See Session.execute[_async](timeout)'}, last_host=827f8a5c-c113-4d00-96e3-19591f848b34-asia-south1.db.astra.datastax.com:29042:1e2e8f64-62e8-4a6e-b468-77267e24d06f

In [351]:
crud.show("survey")

╒════╤═══════════════╤══════════════╤═══════════════════════╤══════════════════════════════╕
│    │   question_id │ date_added   │ options               │ question                     │
╞════╪═══════════════╪══════════════╪═══════════════════════╪══════════════════════════════╡
│  0 │             1 │ 2023-03-20   │ bus, car, bike, other │ what your mode of transpoart │
├────┼───────────────┼──────────────┼───────────────────────┼──────────────────────────────┤
│  1 │             2 │ 2023-03-20   │ car,bus, train, other │ mode of transpoart           │
├────┼───────────────┼──────────────┼───────────────────────┼──────────────────────────────┤
│  2 │             3 │ 2023-03-20   │ red,blue green,red    │ fav color                    │
╘════╧═══════════════╧══════════════╧═══════════════════════╧══════════════════════════════╛

In [441]:
from importlib import reload
import database_operations
reload(database_operations)

In [442]:
crud = database_operations.CassandraCRUD("test_key")

In [354]:
crud.create_survey_table()

In [358]:
crud.create_user_table()

In [419]:
crud.create_response_table()

In [355]:
crud.insert_survey_data(1, datetime.datetime.now().date(),  "which is more important", "Work on climate change and natural diseaster, work on Unemployement, Work On Poverty")

      question_id  date_added    options                                                                               question
 0              1  2023-03-20    Work on climate change and natural diseaster, work on Unemployement, Work On Poverty  which is more important

In [380]:
crud.insert_user_data(1, datetime.datetime.now().date(), "ritik", "male", 25, 1000000, "ajmer", "single", "bsc")

      user_id    age    annual_income  city    date_added    gender    marital_status    name    qualification
 0          1     25          1000000  ajmer   2023-03-20    male      single            ritik   bsc

In [222]:
crud.insert_response_data(0, 0, "red", datetime.datetime.now().date())

      user_id    question_id  date_added    response
 0          1              1  2023-03-20    red

In [381]:
crud.show("user")

╒════╤═══════════╤═══════╤═════════════════╤════════╤══════════════╤══════════╤══════════════════╤════════╤═════════════════╕
│    │   user_id │   age │   annual_income │ city   │ date_added   │ gender   │ marital_status   │ name   │ qualification   │
╞════╪═══════════╪═══════╪═════════════════╪════════╪══════════════╪══════════╪══════════════════╪════════╪═════════════════╡
│  0 │         1 │    25 │         1000000 │ ajmer  │ 2023-03-20   │ male     │ single           │ ritik  │ bsc             │
╘════╧═══════════╧═══════╧═════════════════╧════════╧══════════════╧══════════╧══════════════════╧════════╧═════════════════╛

In [224]:
map(max, )

TypeError: map() must have at least two arguments.

In [225]:
max(list(map(max, crud.last("survey").values)))

1

In [234]:
db = crud.get_db("survey")

In [231]:
questions = {
    1: {'text': 'What is your name?', 'options': ['John', 'Mary', 'Tom']},
    2: {'text': 'What is your age?', 'options': ['18-25', '26-35']},
    3: {'text': 'What is your favorite color?', 'options': ['Red', 'Green', 'Blue']}
}

In [270]:
questions2 = {
    1: {'text': 'What is your name?', 'options': ['John', 'Mary', 'Tom']},
    2: {'text': 'What is your age?', 'options': ['18-25', '26-35']},
    3: {'text': 'What is your favorite color?', 'options': ['Red', 'Green', 'Blue']}
}

In [297]:
questions

{1: {'text': 'What is your name?', 'options': ['John', 'Mary', 'Tom']},
 2: {'text': 'What is your age?', 'options': ['18-25', '26-35']},
 3: {'text': 'What is your favorite color?',
  'options': ['Red', 'Green', 'Blue']}}

In [293]:
for i in db.question_id:
    print(db.iloc[i-1])
#     questions2 = dict()
#     questions2[i] = dict()
    questions2[i]['question'] = "abc"
    questions2[i]['opttions'] = "opt"

question_id                               1
date_added                       2023-03-20
options               bus, car, bike, other
question       what your mode of transpoart
Name: 0, dtype: object

KeyError: 0

In [291]:
question2

{3: {'text': 'mode of transpoart', 'options': ['John', 'Mary', 'Tom']}}

In [331]:
dictionary_fields = {'text': ' ', 'options': ' '}
student_id = [1, 2, 3, 4, 5]
student_record = {}
#To create 5 records: We will run loop for 5 times
for i in range(0, 5):
    student_record.update({student_id[i]: dict(dictionary_fields)})
#Add two items to 2D dictionary
for i in range(1, 4):
    student_record[i]['text'] = db.iloc[i-1].question
    student_record[i]['options'] = "Wick"

# for i in range(1, 3):
#     print(student_record[i])
    
student_record

{1: {'text': 'what your mode of transpoart', 'options': 'Wick'},
 2: {'text': 'job', 'options': 'Wick'},
 3: {'text': 'mode of transpoart', 'options': 'Wick'},
 4: {'text': ' ', 'options': ' '},
 5: {'text': ' ', 'options': ' '}}

In [313]:
len(db)

3

In [338]:
db = db = crud.get_db("survey")
question_id = []
for i in range(len(db)):
    question_id.append(i+1)
question_id

student_record = {}
#To create 5 records: We will run loop for 5 times
for i in range(0, len(db)):
    student_record.update({student_id[i]: dict(dictionary_fields)})
#Add two items to 2D dictionary
for i in range(1, len(db)+1):
    student_record[i]['text'] = db.iloc[i-1].question
    student_record[i]['options'] = db.iloc[i-1].options

# for i in range(1, 3):
#     print(student_record[i])
    
student_record

{1: {'text': 'what your mode of transpoart',
  'options': 'bus, car, bike, other'},
 2: {'text': 'mode of transpoart', 'options': 'car,bus, train, other'}}

In [344]:
dictionary_fields = {'text': ' ', 'options': ' '}

db = db = crud.get_db("survey")
question_id = []
for i in range(len(db)):
    question_id.append(i+1)
question_id

student_record = {}
#To create 5 records: We will run loop for 5 times
for i in range(0, len(db)):
    student_record.update({question_id[i]: dict(dictionary_fields)})
#Add two items to 2D dictionary
for i in range(1, len(db)+1):
    student_record[i]['text'] = db.iloc[i-1].question
    student_record[i]['options'] = [db.iloc[i-1].options]

# for i in range(1, 3):
#     print(student_record[i])

student_record

{1: {'text': 'what your mode of transpoart',
  'options': ['bus, car, bike, other']},
 2: {'text': 'mode of transpoart', 'options': ['car,bus, train, other']}}

In [345]:
questions

{1: {'text': 'What is your name?', 'options': ['John', 'Mary', 'Tom']},
 2: {'text': 'What is your age?', 'options': ['18-25', '26-35']},
 3: {'text': 'What is your favorite color?',
  'options': ['Red', 'Green', 'Blue']}}

In [399]:
options = db.iloc[0].options.split(", ")

In [440]:
crud.delete_table("user")

Table user deleted successfully

In [443]:
crud.create_user_table()

In [447]:
crud.show("response")

╒════╤═══════════════════════╤═══════════════╤══════════════╤══════════════════════════════════════╕
│    │               user_id │   question_id │ date_added   │ response                             │
╞════╪═══════════════════════╪═══════════════╪══════════════╪══════════════════════════════════════╡
│  0 │ 111406285331660533989 │             0 │ 2023-03-20   │ they are doing great                 │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  1 │ 111406285331660533989 │             3 │ 2023-03-20   │ very well government is doing good   │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  2 │ 111406285331660533989 │             5 │ 2023-03-20   │ Yes frequently                       │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  3 │ 110273879074445576872 │             0 │ 2023-03-20   │ they are doing great                 │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  4 │ 110273879074445576872 │             1 │ 2023-03-20   │ work on Unemployement                │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  5 │ 110273879074445576872 │             2 │ 2023-03-20   │ Pradhan Mantri Mudra Yojana          │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  6 │ 110273879074445576872 │             3 │ 2023-03-20   │ not good government needs to improve │
├────┼───────────────────────┼───────────────┼──────────────┼──────────────────────────────────────┤
│  7 │ 110273879074445576872 │             5 │ 2023-03-20   │ Yes frequently                       │
╘════╧═══════════════════════╧═══════════════╧══════════════╧══════════════════════════════════════╛

In [405]:
resp = {1: 'they are doing great', 2: None, 3: None, 4: 'very well government is doing good', 5: ' no need to invest on roads and infrastructures government should use the money in other things', 6: None}

In [448]:
resp

{1: 'they are doing great',
 2: None,
 3: None,
 4: 'very well government is doing good',
 5: ' no need to invest on roads and infrastructures government should use the money in other things',
 6: None}