In [11]:
import datetime
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd
from tabulate import tabulate
import os
import time
import importlib

In [5]:
keyspace = "test_key"
cloud_config= {'secure_connect_bundle': 'secure-connect-test.zip'}
auth_provider = PlainTextAuthProvider('biTEHxuyRqFgCcFpnEMOMvkN', 'PyqybfDQpPOaLp44hlWbb1Yb7bZ2Mn5Mt-_DGMOs.qBj.JY.Z,FAnB.9ncCD+F2EsSJ7W6XD,l,3S9gZW7bgWSMQDHKvTI7Iams2.hRRz6W_biRSrttvGgs1WhAl-in9')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect(keyspace)

In [71]:
def create_daily_activity_table():
        create_table_query = """
        CREATE TABLE IF NOT EXISTS survey (
            q_no int,
            date_added date,
            question text,
            options text,
            PRIMARY KEY (q_no)
        );
        """
        session.execute(create_table_query)
create_daily_activity_table()

In [72]:
def get_db(table):
        query = "SELECT * FROM {}.{}".format(keyspace, table)
        data = session.execute(query)
        df = pd.DataFrame([d for d in data])
        return df

In [73]:
def show(table_name):
        query = "SELECT * FROM test_key.{};".format(table_name)
        df = pd.DataFrame(list(session.execute(query)))
        print(tabulate(df, headers='keys', tablefmt='fancy_grid'))

In [91]:
def insert_data():
    insert_query = """
    INSERT INTO survey (
        q_no,
        date_added,
        question,
        options
    ) VALUES ({}, '{}', '{}', '{}')""".format(1, datetime.datetime.now().date(), "what is your favourite color", "red, blue, gree, grey")
    session.execute(insert_query)
    show("survey")

In [92]:
insert_data()

╒════╤════════╤══════════════╤═══════════════════════╤══════════════════════════════╕
│    │   q_no │ date_added   │ options               │ question                     │
╞════╪════════╪══════════════╪═══════════════════════╪══════════════════════════════╡
│  0 │      1 │ 2023-03-18   │ red, blue, gree, grey │ what is your favourite color │
╘════╧════════╧══════════════╧═══════════════════════╧══════════════════════════════╛

In [59]:
def delete_table(table_name):
        delete_table_query = "DROP TABLE " + table_name + ";"
        try:
            session.execute(delete_table_query)
            print("Table " + table_name + " deleted successfully")
        except Exception as e:
            print("Error deleting table: ", e)
            
delete_table("user")

Error deleting table:  name 'session' is not defined

In [204]:
crud.delete_table("response")

Table response deleted successfully

In [86]:
show("survey")

╒════╤════════╤══════════════╤═══════════╤════════════╕
│    │   q_no │ date_added   │ options   │ question   │
╞════╪════════╪══════════════╪═══════════╪════════════╡
│  0 │      1 │ 2023-03-18   │ options   │ question   │
╘════╧════════╧══════════════╧═══════════╧════════════╛

In [104]:
from importlib import reload
import database_operations
reload(database_operations)

In [105]:
crud = database_operations.CassandraCRUD("test_key")

In [106]:
crud.create_survey_table()

In [107]:
crud.create_user_table()

In [108]:
crud.create_response_table()

In [109]:
crud.insert_survey_data(2, datetime.datetime.now().date(),  "what your mode of transpoart", "red, blue, green, grey")

      question_id  date_added    options                 question
 0              1  2023-03-20    red, blue, green, grey  what is your fav color

In [110]:
crud.insert_user_data(1, datetime.datetime.now().date(), "ritik", "male", 25, 1000000, "ajmer", "single", "bsc")

      user_id    age    annual_income  city    date_added    gender    marital_status    name    qualification
 0          1     25          1000000  ajmer   2023-03-20    male      single            ritik   bsc

In [111]:
crud.insert_response_data(1, 1, "red", datetime.datetime.now().date())

      user_id    question_id  date_added    response
 0          1              1  2023-03-20    red

In [112]:
crud.show("survey")

╒════╤═══════════════╤══════════════╤════════════════════════╤════════════════════════╕
│    │   question_id │ date_added   │ options                │ question               │
╞════╪═══════════════╪══════════════╪════════════════════════╪════════════════════════╡
│  0 │             1 │ 2023-03-20   │ red, blue, green, grey │ what is your fav color │
╘════╧═══════════════╧══════════════╧════════════════════════╧════════════════════════╛

In [137]:
crud.last("survey").values[[0]][0][0]

1